{% extends 'auctions/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'auctions/CSS/new_listing_style.css' %}">
{% endblock %}

{% block title %}
    New Listing
{% endblock %}

{% block watchlist_badge %}
    {% if user_watchlist|length != 0 %}
    <span class="badge badge-light">{{ user_watchlist|length }}</span>
    {% endif %}
{% endblock %}

{% block body %}
    <br/>
    <h2 class="main_title">New Listing</h2>

    <br>
    <br>

    <div class="form_container">
        <div class="form-group form-group-mod">
            <form action="{% url 'new_listing' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>

{% endblock %}