body {
    background: rgb(200, 255, 252);
    background: linear-gradient(180deg, rgba(200, 255, 252, 1) 0%, rgba(252, 252, 252, 1) 40%);
}


* {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    margin: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
    box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
    background: #007d6f;
}

.card_image_container {
    display: flex;
    height: 120px;
    padding: 10px;
    max-height: 300px;
    text-align: center;
    align-items: center;
}

.card_image_container img {
    margin-right: auto;
    margin-left: auto;
    max-height: 100%;
    max-width: 100%;
}

.title_container {
    display: block;
    position: relative;
    width: 100%;
    min-width: 100%;
}

.btn-light-mod {
    display: inline;
    width: 100%;
}