body {
    background: none;
}

.login_form {
    width: 35%;
    min-width: 35%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 30px;
    border: dashed 1px #007d6f;
    border-radius: 20px;
}

.login_form a{
    color: aqua;
}

.login_form label{
    color: #007d6f;
}

.login_title {
    color: #007d6f;
}